.back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    float: left;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .muting{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    color: white;
    align-items: center;

  }
  .mute-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.wait{
    animation:fadeIn 500ms ease-in-out;
}