.lists ul {
    list-style: none;
    
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 20px 0;
  }
  .visible{
    position: fixed;
  top: 90px; /* Adjust distance from bottom as needed */
  right:20px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-color: lightgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  }
  .up{
    position: fixed;
  top: 0px; /* Adjust distance from bottom as needed */
  right:20px;
 
  z-index: 1000;

  }
  .visible img{
    width: 30px;
  }