.all{
    z-index: 2;
    color: white;
    position:absolute;
    bottom: 0;
    
    

}
.lists {
  position: fixed;
  bottom: 30px; /* Adjust distance from bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  
}
.text{
  position: fixed;
  bottom:40%;
  left: 30px;
  z-index: 1000;
}
.imgPlay{
  position: fixed;
  bottom: 30px; /* Adjust distance from bottom as needed */
  left: 30px;
  
  z-index: 1000;


}
.p1{
  font-size: 60px;
  font-weight: 500;
}
.p2{
  font-size: 50px;
  font-weight: 500;
}
.all ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 20px 0;
  }
  .notaffected{
    width: 15px;
    height: 15px;
    background-color: white; 
    border-radius: 50%;

 }
  
  .affected{
    width: 15px;
    height: 15px;
    background-color: #e77fa7; 
    border-radius: 50%;
    cursor: pointer;
    

  }
   img{
    width: 50px;
    

  }
 .not{
  position: fixed;
  bottom: 520px; /* Adjust distance from bottom as needed */
  left: 0;
  transform: translate(-50%);
 
  z-index: 1000
 }

  